## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [13]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
print(unique_values)

APPLICATION_TYPE             9
AFFILIATION                  6
CLASSIFICATION               7
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [16]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()



# Determine a cutoff for rare application types
cutoff = 500  # You can adjust this based on the distribution
rare_applications = application_type_counts[application_type_counts < cutoff].index

# Replace rare application types with 'Other'
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].apply(
    lambda x: 'Other' if x in rare_applications else x
)

# Verify the replacement
print(application_df['APPLICATION_TYPE'].value_counts())

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [17]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
# Determine the value counts for APPLICATION_TYPE
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()

# Choose a cutoff value
cutoff = 500  # Adjust based on your analysis
application_types_to_replace = application_type_counts[application_type_counts < cutoff].index.tolist()



# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [18]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Choose a cutoff value for rare classifications
cutoff = 1000  
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

 # Replace rare classifications with 'Other'
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Verify the replacement was successful
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [20]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# Determine the value counts for CLASSIFICATION
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Filter classifications with more than 1 occurrence
classification_counts_gt1 = classification_counts[classification_counts > 1]


# Define a cutoff value
cutoff = 1000  # Adjust this based on the analysis
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()

# Replace rare classifications with 'Other'
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls, "Other")

# Verify the result
print(application_df['CLASSIFICATION'].value_counts())

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [21]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
# Determine the value counts for CLASSIFICATION
classification_counts = application_df['CLASSIFICATION'].value_counts()

# Choose a cutoff value
cutoff = 1000  # Adjust the cutoff as needed based on the analysis
classifications_to_replace = classification_counts[classification_counts < cutoff].index.tolist()


# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
application_df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [23]:
# Convert categorical data to numeric with `pd.get_dummies`

application_df = pd.get_dummies(application_df, drop_first=True)


(application_df.head())

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,ORGANIZATION_Trust,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1,108590,1,False,False,True,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
2,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1,6692,1,False,False,True,False,False,False,False,...,True,False,True,False,False,False,False,False,False,False
4,1,142590,1,False,False,True,False,False,False,False,...,True,False,False,True,False,False,False,False,False,False

In [24]:
# Split our preprocessed data into our features and target arrays

# Split the preprocessed data into a training and testing dataset
# Split features and target
X = application_df.drop("IS_SUCCESSFUL", axis=1)  
y = application_df["IS_SUCCESSFUL"]  

# Split into training and testing sets
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Check shapes
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(27439, 36) (6860, 36) (27439,) (6860,)

In [27]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [28]:
# Define the model - deep neural net
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=80, input_dim=X_train_scaled.shape[1], activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=30, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

c:\Users\ayafa\New folder\envs\myenv\lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense (Dense)                   │ (None, 80)             │         2,960 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_1 (Dense)                 │ (None, 30)             │         2,430 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_2 (Dense)                 │ (None, 1)              │            31 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 5,421 (21.18 KB)

 Trainable params: 5,421 (21.18 KB)

 Non-trainable params: 0 (0.00 B)

In [33]:
# Compile the model

nn.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [32]:
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=50, batch_size=32, validation_split=0.2)

Epoch 1/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.6847 - loss: 0.6107 - val_accuracy: 0.7358 - val_loss: 0.5576
Epoch 2/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7292 - loss: 0.5555 - val_accuracy: 0.7376 - val_loss: 0.5515
Epoch 3/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.7310 - loss: 0.5496 - val_accuracy: 0.7382 - val_loss: 0.5474
Epoch 4/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7256 - loss: 0.5529 - val_accuracy: 0.7389 - val_loss: 0.5485
Epoch 5/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step - accuracy: 0.7295 - loss: 0.5496 - val_accuracy: 0.7387 - val_loss: 0.5473
Epoch 6/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7322 - loss: 0.5489 - val_accuracy: 0.7374 - val_loss: 0.5475
Epoch 7/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 4ms/step - accuracy: 0.7300 - loss: 0.5500 - val_accuracy: 0.7382 - val_loss: 0.5474
Epoch 8/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - accuracy: 0.7316 - loss: 0.5513 - val_accuracy: 0.7389 - val_loss: 0.5477
Epoch 9/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - accuracy: 0.7262 - loss: 0.5493 - val_accuracy: 0.7376 - val_loss: 0.5464
Epoch 10/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7363 - loss: 0.5426 - val_accuracy: 0.7312 - val_loss: 0.5467
Epoch 11/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 7s 7ms/step - accuracy: 0.7360 - loss: 0.5446 - val_accuracy: 0.7363 - val_loss: 0.5456
Epoch 12/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 7ms/step - accuracy: 0.7275 - loss: 0.5489 - val_accuracy: 0.7372 - val_loss: 0.5486
Epoch 13/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.7299 - loss: 0.5466 - val_accuracy: 0.7407 - val_loss: 0.5450
Epoch 14/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - accuracy: 0.7340 - loss: 0.5435 - val_accuracy: 0.7380 - val_loss: 0.5448
Epoch 15/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - accuracy: 0.7309 - loss: 0.5504 - val_accuracy: 0.7396 - val_loss: 0.5469
Epoch 16/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 7s 9ms/step - accuracy: 0.7287 - loss: 0.5458 - val_accuracy: 0.7371 - val_loss: 0.5488
Epoch 17/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 7ms/step - accuracy: 0.7341 - loss: 0.5463 - val_accuracy: 0.7358 - val_loss: 0.5480
Epoch 18/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - accuracy: 0.7303 - loss: 0.5437 - val_accuracy: 0.7396 - val_loss: 0.5440
Epoch 19/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7334 - loss: 0.5416 - val_accuracy: 0.7391 - val_loss: 0.5446
Epoch 20/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.7400 - loss: 0.5374 - val_accuracy: 0.7363 - val_loss: 0.5446
Epoch 21/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.7321 - loss: 0.5456 - val_accuracy: 0.7400 - val_loss: 0.5440
Epoch 22/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 7ms/step - accuracy: 0.7382 - loss: 0.5357 - val_accuracy: 0.7400 - val_loss: 0.5447
Epoch 23/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.7361 - loss: 0.5402 - val_accuracy: 0.7382 - val_loss: 0.5458
Epoch 24/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 9s 11ms/step - accuracy: 0.7387 - loss: 0.5378 - val_accuracy: 0.7362 - val_loss: 0.5456
Epoch 25/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.7389 - loss: 0.5367 - val_accuracy: 0.7398 - val_loss: 0.5429
Epoch 26/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - accuracy: 0.7303 - loss: 0.5471 - val_accuracy: 0.7380 - val_loss: 0.5467
Epoch 27/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 6s 7ms/step - accuracy: 0.7374 - loss: 0.5386 - val_accuracy: 0.7414 - val_loss: 0.5455
Epoch 28/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 6ms/step - accuracy: 0.7358 - loss: 0.5409 - val_accuracy: 0.7402 - val_loss: 0.5463
Epoch 29/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 4ms/step - accuracy: 0.7358 - loss: 0.5414 - val_accuracy: 0.7374 - val_loss: 0.5456
Epoch 30/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step - accuracy: 0.7342 - loss: 0.5437 - val_accuracy: 0.7378 - val_loss: 0.5438
Epoch 31/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 6s 6ms/step - accuracy: 0.7360 - loss: 0.5432 - val_accuracy: 0.7336 - val_loss: 0.5449
Epoch 32/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - accuracy: 0.7383 - loss: 0.5383 - val_accuracy: 0.7403 - val_loss: 0.5444
Epoch 33/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - accuracy: 0.7371 - loss: 0.5433 - val_accuracy: 0.7387 - val_loss: 0.5465
Epoch 34/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - accuracy: 0.7432 - loss: 0.5362 - val_accuracy: 0.7383 - val_loss: 0.5435
Epoch 35/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step - accuracy: 0.7393 - loss: 0.5352 - val_accuracy: 0.7396 - val_loss: 0.5437
Epoch 36/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step - accuracy: 0.7366 - loss: 0.5382 - val_accuracy: 0.7382 - val_loss: 0.5465
Epoch 37/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7374 - loss: 0.5384 - val_accuracy: 0.7351 - val_loss: 0.5450
Epoch 38/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 5ms/step - accuracy: 0.7299 - loss: 0.5456 - val_accuracy: 0.7396 - val_loss: 0.5450
Epoch 39/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7382 - loss: 0.5387 - val_accuracy: 0.7389 - val_loss: 0.5469
Epoch 40/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step - accuracy: 0.7367 - loss: 0.5419 - val_accuracy: 0.7321 - val_loss: 0.5484
Epoch 41/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 6s 5ms/step - accuracy: 0.7350 - loss: 0.5438 - val_accuracy: 0.7385 - val_loss: 0.5437
Epoch 42/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7333 - loss: 0.5453 - val_accuracy: 0.7409 - val_loss: 0.5448
Epoch 43/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 4ms/step - accuracy: 0.7375 - loss: 0.5386 - val_accuracy: 0.7383 - val_loss: 0.5449
Epoch 44/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7388 - loss: 0.5386 - val_accuracy: 0.7382 - val_loss: 0.5430
Epoch 45/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - accuracy: 0.7378 - loss: 0.5378 - val_accuracy: 0.7378 - val_loss: 0.5453
Epoch 46/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step - accuracy: 0.7381 - loss: 0.5395 - val_accuracy: 0.7402 - val_loss: 0.5445
Epoch 47/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7424 - loss: 0.5359 - val_accuracy: 0.7394 - val_loss: 0.5465
Epoch 48/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7348 - loss: 0.5408 - val_accuracy: 0.7403 - val_loss: 0.5433
Epoch 49/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 3s 5ms/step - accuracy: 0.7361 - loss: 0.5412 - val_accuracy: 0.7398 - val_loss: 0.5449
Epoch 50/50
686/686 ━━━━━━━━━━━━━━━━━━━━ 5s 5ms/step - accuracy: 0.7359 - loss: 0.5403 - val_accuracy: 0.7407 - val_loss: 0.5426

In [34]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 1s - 5ms/step - accuracy: 0.7262 - loss: 0.5589
Loss: 0.5589231848716736, Accuracy: 0.7262390851974487

In [35]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")

print("Model saved as AlphabetSoupCharity.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

Model saved as AlphabetSoupCharity.h5